signing.hackover-release.keystoreFilePath=/home/USERNAME/.android/hackover-release-key.keystore
signing.hackover-release.keystorePassword="PASSWORD"
signing.hackover-release.keyAlias="hackover"
signing.hackover-release.keyPassword="ANOTHERPASSWORD"
