signing.froscon-release.keystoreFilePath=/home/USERNAME/.android/froscon-release-key.keystore
signing.froscon-release.keystorePassword="PASSWORD"
signing.froscon-release.keyAlias="froscon"
signing.froscon-release.keyPassword="ANOTHERPASSWORD"
