signing.cccamp2023-release.keystoreFilePath=/home/USERNAME/.android/cccamp2023-release-key.keystore
signing.cccamp2023-release.keystorePassword="PASSWORD"
signing.cccamp2023-release.keyAlias="cccamp2023"
signing.cccamp2023-release.keyPassword="ANOTHERPASSWORD"

signing.ccc39c3-release.keystoreFilePath=/home/USERNAME/.android/ccc39c3-release-key.keystore
signing.ccc39c3-release.keystorePassword="PASSWORD"
signing.ccc39c3-release.keyAlias="ccc39c3"
signing.ccc39c3-release.keyPassword="ANOTHERPASSWORD"

signing.clt2026-release.keystoreFilePath=/home/USERNAME/.android/clt-release-key.keystore
signing.clt2026-release.keystorePassword="PASSWORD"
signing.clt2026-release.keyAlias=clt
signing.clt2026-release.keyPassword="ANOTHERPASSWORD"
